body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
body,
html {
  height: 100%;
  line-height: 1.8;
}
/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("../images/cover_background.jpg");
  min-height: 100%;
  opacity: 0.9;
  z-index: -999;
}
.w3-bar .w3-button {
  padding: 16px;
}
.logo {
  width: 10%;
  height: 10%;
  padding: 10px;
}
/** default adjustments */
.padding-30 {
  padding-left: 20px;
  padding-right: 20px;
}
.padding-bottom {
  padding-bottom: 20px;
}
.padding-top_20 {
  padding-top: 20px;
}
.input_donate {
  display: block;
  border-radius: 5px;
  border: 2px solid black;
  width: 90% !important;
  background-color: aqua;
}
.input_donate {
  display: block;
  border-radius: 5px;
  border: 2px solid black;
  width: 90% !important;
  background-color: aqua;
}
.col_3 {
  width: 33.33%;
}
